.first-page {
    height: 100vh;
    width: 100vw;
}
.second-page {
    height: 100vh;
    width: 100vw;
}

.titleXL {
    text-align: center;
    font: normal normal 300 2.8vw/4.7vw Montserrat;
}

.titleXL::after {
    content: "";
    margin-top: 3.65vh;
    left: 50%;
    border-bottom: 0.27777vw solid black;
    display: block;
    width: 8vw;
    position: static;
    margin-left: 45%;
}

.titleXL-mini {
    text-align: center;
    font: normal normal 300 2.8vw/4.7vw Montserrat;
}

.titleXL-mini::after {
    content: "";
    margin-top: 1vh;
    left: 50%;
    border-bottom: 0.27777vw solid black;
    display: block;
    width: 6vw;
    position: static;
    margin-left: 47%;
}

.titleXL-white {
    text-align: center;
    color: white;
    font: normal normal 300 2.8vw/4.7vw Montserrat;
}

.titleXL-white::after {
    content: "";
    margin-top: 1.65vh;
    left: 50%;
    border-bottom: 0.27777vw solid white;
    display: block;
    width: 8vw;
    position: static;
    margin-left: 46%;
}

.desc {
    text-align: left;
    font: normal normal normal 1.2vw/2.8vw Montserrat;
    letter-spacing: 0px;
    padding: 3.125vh 11.597vw;
    color: #000000;
    opacity: 0.91;
}

.detail-tab {
    min-height: 15.27vw;
    margin-top: 10vh;
}

.detail-heading {
    margin-left: 2vw;
    text-align: left;
    font: normal normal 400 1.575vw/2vw Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.detail-desc {
    text-align: left;
    margin-left: 2vw;
    margin-top: 1.94884287454324vh;
    font: normal normal normal 1.2vw/2.5vw Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.91;
}

.services {
    padding: 0 7vw;
    padding-bottom: 2vh;
}

/* Backdrop */
.backdrop {
    background-image: url("../assets/background-2__01.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    z-index: 1;
    filter: brightness(0.8);
    height: 100%;
    width: 100%;
    position: absolute;
}

.backdrop-1 {
    background: #000000;
    clip-path: polygon(3.125% 19.55%, 96.875% 19.55%, 96.875% 94.45%, 3.125% 94.45%);
    z-index: 1;
    filter: brightness(0.8);
    height: 100%;
    width: 100%;
    position: absolute;
}

.backdrop-1-1 {
    background: #20397b;
    clip-path: polygon(3.125% 19.55%, 50% 19.55%, 50% 94.45%, 3.125% 94.45%);
    z-index: 2;
    filter: brightness(0.8);
    height: 100%;
    width: 100%;
    position: absolute;
}

.front-layer {
    z-index: 2;
    color: #ffffff;
    position: relative;
    padding: 3.125%;
    margin-bottom: 3.125%;
    width: 100%;
    height: 100%;
}

.front-layer-1 {
    z-index: 2;
    color: #ffffff;
    position: relative;
    padding: 3.125%;
    margin-bottom: 3.125%;
    width: 100%;
    height: 100%;
}

.header-row {
    width: 93.75%;
    display: flex;
}

/* Landing div style  */
.landing-div {
    background-image: url("../assets/background-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 89vh;
    margin: 3.125%;
    filter: brightness(100%);
    filter: blur(100%);
}

.title {
    text-align: left;
    font: normal normal 900 4vw/6vw Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    filter: brightness(100%);
    margin-left: 2vw;
    margin-right: 16.8vw;
}

.title-1 {
    text-align: left;
    font: normal normal 900 4vw/6vw Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    filter: brightness(100%);
    margin-left: 2vw;
    margin-right: 16.8vw;
}

.header-div {
    display: flex;
}

.navbar-nav li {
    margin-right: 3.05vw;
}

.navbar-nav a {
    font: normal normal 500 1vw/1.71vw Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
}

.bold-nav {
    font: normal normal 700 1vw/1.71vw Montserrat !important;
}

.navbar-nav ul {
    padding: 0;
    list-style: none;
    display: table;
    text-align: center;
}
.navbar-nav li {
    display: table-cell;
    position: relative;
}
.navbar-nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.navbar-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-nav a:hover:after {
    color: #ffffff;
    width: 100%;
    left: 0;
}

.black-link {
    color: #000000 !important;
}
.black-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000 !important;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.black-link:hover:after {
    color: #000000 !important;
    width: 100%;
    left: 0;
}

.sub-title {
    margin-left: 2.5vw;
    text-align: left;
    font: normal normal 200 3.5vw/4vw Montserrat;
    font-weight: 100;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.footer-landing {
    margin-left: 2.5vw;
}

.landing-footer {
    margin-left: 3vw;
    margin-top: 0.97442143727162vh;
    display: flex;
}

.footer-text {
    text-align: left;
    font: normal normal 300 1.5vw/0.4vw Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-left: 1vw;
    margin-top: 4.8721071863581vh;
}

.detail-row {
    display: block;
}

.footer-detail {
    text-align: left;
    font: normal normal 300 1vw/2vw Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-left: 1vw;
    margin-top: 2vh;
    width: 10vw;
}

.play-image {
    width: 4vw;
}

.detail-img-col {
    display: block;
}

.detail-img {
    width: 4.166vw;
}

.thanks {
    padding: 10.46vh 0 0 5.69vw;
    text-align: left;
    font: normal normal 600 4.45vw/6.847222222222222vw Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.query {
    padding: auto;
}

.blue-backdrop {
    background-color: #4072f5;
    padding: 3.125%;
    margin-bottom: 3.125%;
}
/** For Mobile screen**/
@media screen and (max-width: 1024px) {
    .front-layer,
    .first-page,
    .backdrop {
        background-size: cover;
        height: 40%;
    }
    .landing-div {
        background-size: contain;
        margin: 3.125%;
        filter: brightness(100%);
        filter: blur(100%);
        min-height: 89vh;
    }

    .title {
        text-align: left;
        font: normal normal 900 5.7vw/7.01vw Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        filter: brightness(100%);
        margin-left: 5.5%;
    }

    .navbar-nav a {
        font: normal normal 1.4vw/1.71vw Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: capitalize;
        opacity: 1;
    }

    .sub-title {
        margin-top: 13vh;
        margin-left: 3vw;
        text-align: left;
        font: normal normal 300 3.31vw/4.4vw Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }

    .play-image {
        width: 5vw;
    }
    .footer-text {
        text-align: left;
        font: normal normal normal 1.5vw/2vw Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        margin-left: 1vw;
        margin-top: 1.2vh;
    }
    .landing-footer {
        margin-left: 3vw;
        margin-top: -0.7vh;
        display: flex;
    }
}

.steps {
    padding: 0.5vw 2vw;
}

.step-idx {
    font: normal normal 200 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-bottom: 1vh;
}
.step-heading {
    font: normal normal bold 23px/35px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    white-space: pre-line;
    margin-bottom: 1vh;
}

.step-desc {
    font: normal normal 200 16px/36px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.image-element {
    padding: 0 8vw 0 10vw;
    margin-bottom: 15vh;
}

.element-card {
    background: #f9f9f9;
    border-radius: 30px;
    padding: 4.5vh 3vw;
    min-height: 40vh;
}

.element-header {
    font: normal normal 500 1.31vw/1.31vw Montserrat;
}

.element-sub-header {
    color: #929292;
    font: normal normal 300 0.9vw/2.4vw Montserrat;
}

.element-sub-title {
    color: #257fd9;
    font: normal normal 300 0.9vw/1.5vw Montserrat;
}

.bestfit-backdrop {
    background-image: url("../assets/hands.png");
    background-size: cover;
    height: 100vh;
    z-index: 1;
    width: 100%;
    position: absolute;
}

.blue-bullets {
    font: normal normal normal 1.1vw/2.2vw Montserrat;
    letter-spacing: 0px;
}

.blue-bullets ul {
    list-style: none; /* Remove default bullets */
}

.blue-bullets ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #5086ed; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 150%; /* or whatever */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1rem; /* Also needed for space (tweak if needed) */
    margin-left: -1rem; /* Also needed for space (tweak if needed) */
    top: 4px;
}

/** For Tablet screens potrait mode**/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .clients {
        top: 146vh !important;
    }
    .front-layer,
    .first-page,
    .backdrop {
        background-size: cover;
        height: 70%;
    }

    .landing-div {
        background-size: contain;
        margin: 3.125%;
        filter: brightness(100%);
        filter: blur(100%);
        min-height: 89vh;
    }

    .title {
        text-align: left;
        font: normal normal 900 5.7vw/7.01vw Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        filter: brightness(100%);
        margin-left: 2.5vw;
    }

    .navbar-nav a {
        font: normal normal 1.4vw/1.71vw Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: capitalize;
        opacity: 1;
    }

    .sub-title {
        margin-top: 25vh;
        margin-left: 3vw;
        text-align: left;
        font: normal normal 300 3.31vw/4.4vw Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
    }

    .play-image {
        width: 5vw;
    }
    .landing-footer {
        margin-left: 3vw;
        margin-top: 2vh;
        display: flex;
    }
}

/**tablet landscape mode**/
@media only screen and (orientation: landscape) and (min-device-width: 600px) and (max-device-width: 1024px) {
    .landing-div {
        background-size: cover;
        margin: 3.125%;
        filter: brightness(100%);
        filter: blur(100%);
        min-height: 89vh;
    }
    .sub-title {
        margin-top: 55vh;
    }
}

.inputs {
    width: 75%;
    margin: 20px 1%;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1vw 0;
    font: normal normal 300 1.4vw/1.71vw Montserrat;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.91;
    outline: none;
}

.cb {
    margin: 20px 1%;
    background: transparent;
    border: 0px;
    padding: 1vw 0;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.91;
    outline: none;
}

.cb-label {
    margin-left: 1vw;
    font: normal normal 300 1.4vw/1.71vw Montserrat;
    opacity: 0.91;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.91;
}

.submit {
    width: 75%;
    padding: 1rem 0;
    font: normal normal 500 1.2vw/2.8vw Montserrat;
    letter-spacing: 2.4px;
    color: #ffffff;
    text-align: center;
    background: #4072f5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.submit:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}
